@inject IJSRuntime jsRuntime

@using Aozora.GaijiChuki.Xsd
@using AozoraEditor.Shared.Models.DictionaryResultEntries;
@using AozoraEditor.Shared.Models.DictionaryResultGroups;

<div class="aozora_dictionary_search_container">
	<div class="aozora_dictionary_search_border">
		<div class="aozora_dictionary_search_button">
			@*当初はボタンの予定だったがボタンである必要はない。*@
			@(FullEditor.GetMaterialSymbolOutlined("search"))
		</div>
		<button class="aozora_dictionary_option_button" @onclick="_=>{SearchOptionVisible=!SearchOptionVisible;}">
			@GetSearchOptionTargetsTitle(SearchOptionTarget)
		</button>
		<input @bind="SearchText" placeholder="漢字・文字コード・部首の読み" />
		<button class="aozora_dictionary_search_info_button" @onclick="_=>{SearchInfoVisible=!SearchInfoVisible;}">
			@(FullEditor.GetMaterialSymbolOutlined("info"))
		</button>
		@if (SearchOptionVisible)
		{
			const string selectedClass = "aozora_dictionary_search_option_item_selected";
			<!-- aozora_dictionary_search_option_item_selected -->
			<div class="aozora_dictionary_search_option">
				@foreach (var item in new SearchOptionTargets[] { SearchOptionTargets.All, SearchOptionTargets.Kanji, SearchOptionTargets.Radical, SearchOptionTargets.Note, })
				{
					<button @onclick="_=>{SelectSearchOptionTarget(item);}" title="ダブルクリックで複数選択を有効化"
							class="aozora_dictionary_search_option_item @(SearchOptionTarget.HasFlag(item)?selectedClass:string.Empty)">
						@(GetSearchOptionTargetsTitle(item))
					</button>
				}
			</div>
		}
		@if (SearchInfoVisible)
		{
			<div class="aozora_dictionary_search_info">
				<ul>
					<li>入力は複数可能です。</li>
					<li>
						Unicodeコードポイント・JIS 0213面句点番号でも検索可能です。
						<ul>
							<li>例：U+1234、1-2-3</li>
						</ul>
					</li>
					<li>読み仮名は部首のみ検索できます。</li>
					<li>
						画数の検索は不確実です。
						<ul>
							<li>例：5画、5kaku、5strokes</li>
						</ul>
					</li>
					<li>and / or / () で絞り込み検索可能です。</li>
				</ul>
			</div>
		}
	</div>
</div>

<div class="aozora_dictionary_radicals_container">
	<details>
		<summary>
			<h1 class="aozora_dictionary_radicals_header"><span class="aozora_dictionary_radicals_header_icon">@(FullEditor.GetMaterialSymbolOutlined("expand_more"))</span>総画数</h1>
		</summary>

		<div class="aozora_dictionary_radicals">
			@if (Aozora.GaijiChuki.Manager.Toc.StrokeCharacters is not null)
			{
				foreach (var stroke in Aozora.GaijiChuki.Manager.Toc.StrokeCharacters.Keys.Order())
				{
					<button class="aozora_dictionary_radical">
						<div class="aozora_dictionary_radical_character" @onclick="_=>{SelectStroke(stroke);}">@stroke</div>
					</button>

				}
			}
		</div>
	</details>

	<details>
		<summary>
			<h1 class="aozora_dictionary_radicals_header"><span class="aozora_dictionary_radicals_header_icon">@(FullEditor.GetMaterialSymbolOutlined("expand_more"))</span><span class="aozora_dictionary_radicals_header_main">部首</span><span class="aozora_dictionary_radicals_header_sub">読み</span></h1>
		</summary>

		<div class="aozora_dictionary_radicals">
			@if (Aozora.GaijiChuki.Manager.Instance?.kanji?.page is not null)
			{
				char saisho = ' ';
				@foreach (var (item, rd, kana) in Aozora.GaijiChuki.Manager.Instance.kanji.page
						.SelectMany(a => a.radical.readings.reading.Select(b => (a, b, b.Normalize(System.Text.NormalizationForm.FormD)[0])))
						.DistinctBy(a => (a.a, a.Item3))
						.OrderBy(a => a.Item2))
				{
					char saishoNew = kana;//UFDにして濁点・半濁点を取り除く処理。
					if (saisho != saishoNew)
					{
						<div class="aozora_dictionary_radical_stroke">@saishoNew</div>
					}
					saisho = saishoNew;
					<button class="aozora_dictionary_radical" title="@(string.Join('\n',item.radical.readings.reading))">
						@foreach (var item2 in item.radical.characters.character)
						{
							<div class="aozora_dictionary_radical_character" @onclick="_=>SelectPage(item)">@item2</div>
						}
					</button>
				}
			}
		</div>
	</details>

	<details>
		<summary>
			<h1 class="aozora_dictionary_radicals_header"><span class="aozora_dictionary_radicals_header_icon">@(FullEditor.GetMaterialSymbolOutlined("expand_more"))</span><span class="aozora_dictionary_radicals_header_main">部首</span><span class="aozora_dictionary_radicals_header_sub">画数</span></h1>
		</summary>

		<div class="aozora_dictionary_radicals">
			@if (Aozora.GaijiChuki.Manager.Instance?.kanji?.page is not null)
			{
				int stroke = 0;
				@foreach (var (item, strk) in Aozora.GaijiChuki.Manager.Instance.kanji.page
						.SelectMany(a => a.radical.characters.character.Select(b => (a, Aozora.GaijiChuki.Manager.Toc.GetStrokeCount(b))))
						.Distinct().Where(a => a.Item2 > 0)
						.OrderBy(a => a.Item2))
				{
					int strokeNew = strk;
					if (stroke != strokeNew)
					{
						<div class="aozora_dictionary_radical_stroke">@strokeNew</div>
					}
					stroke = strokeNew;
					<button class="aozora_dictionary_radical" @onclick="_=>SelectPage(item)">
						@foreach (var item2 in item.radical.characters.character)
						{
							<div class="aozora_dictionary_radical_character">@item2</div>
						}
					</button>
				}
			}
		</div>
	</details>

	<details>
		<!-- その他はradical(部首)ではないが、まぁええやろ。 -->
		<summary>
			<h1 class="aozora_dictionary_radicals_header"><span class="aozora_dictionary_radicals_header_icon">@(FullEditor.GetMaterialSymbolOutlined("expand_more"))</span>その他</h1>
		</summary>
		<div class="aozora_dictionary_others">
			@if (Aozora.GaijiChuki.Manager.Instance?.other?.PageOther is not null)
			{
				foreach (var item in Aozora.GaijiChuki.Manager.Instance.other.PageOther.Where(a => a.entries.Length > 0))
				{
					<button class="aozora_dictionary_others_other" @onclick="_=>SelectPage(item)">
						@item.header
					</button>
				}
			}
		</div>
	</details>
</div>

<hr />

@if (SearchResults.Any() || !string.IsNullOrEmpty(SearchMessage))
{
	<h1>検索結果</h1>
}

@if (!string.IsNullOrEmpty(SearchMessage))
{
	<p>@SearchMessage</p>
}

@if (SearchResults.Any())
{
	@foreach (var c in SearchResults)
	{
		switch (c)
		{
			case DictionaryResultGroupRadical cr:
				<p class="aozora_dictionary_result_radical">@(string.Join(string.Empty, cr.Page.radical?.characters?.character ?? Array.Empty<string>())) (@(string.Join('・', cr.Page.radical?.readings?.reading ?? Array.Empty<string>())))</p>
				break;
			case DictionaryResultGroupRadicalOther cro when cro.Page is not null:
				<p class="aozora_dictionary_result_radical">@cro.Page.header</p>
				break;
		}
	}

	<div class="aozora_dictionary_result_container">
		@foreach (var itemG in SearchResults)
		{
			if (SearchResults.Count() > 1)
			{
				if (itemG is Models.IHeadersProvider itemHP)
				{
					<div class="aozora_dictionary_result_header">
						@foreach (var pchar in itemHP.Header)
						{
							<div class="aozora_dictionary_result_header_character">@pchar</div>
						}
					</div>

				}
			}
			foreach (var item in itemG)
			{
				var chs = item.Characters?.ToArray();
				if (chs is null or { Length: 0 }) chs = new[] { "？" };
				<div class="aozora_dictionary_result">
					@foreach (var ch in chs)
					{
						string ch2 = ch;
						if (ch2.Length == 0 || System.Globalization.CharUnicodeInfo.GetUnicodeCategory(ch2, 0) == System.Globalization.UnicodeCategory.PrivateUse) ch2 = "？";
						var info = new System.Globalization.StringInfo(ch2);
						<button class="@( info.LengthInTextElements <=1 ? "aozora_dictionary_result_character":"aozora_dictionary_result_character_long")" onclick="document.getElementById('@(item.Guid)').scrollIntoView({behavior: 'smooth', block: 'start', inline: 'nearest'});">@ch2</button>
					}
				</div>
			}
		}
	</div>

	<div class="aozora_dictionary_result_detail_container">
		@foreach (var itemG in SearchResults)
		{
			foreach (var item in itemG)
			{
				@GetEntryHtml(item)
			}
		}
	</div>
}
<h1>注意</h1>
<ul>
	<li>このデータは「<a href="https://www.aozora.gr.jp/gaiji_chuki/" target="_blank">青空文庫・外字注記辞書【第八版】</a>」をベースにしています。</li>
	<li>変換の関係で多くの字形に誤りがあります。公式のドキュメントで確認してください。</li>
	<li>環境によっては表示されない文字があります。</li>
	<li>部首の字形が複数ある場合は画数が複数表示されることがあります。</li>
	<li>注記に文字コードが含まれている場合、字形は元データではなく注記情報に基づいた表記になります。</li>
	<li>文字コードは表示されている文字に対応しています。字形が誤りの場合は文字コードも誤りです。その他の理由の誤りもあります。</li>
	<li>Shift_JISコードは実際にはCP932の場合です。若干の差異があります。</li>
	<li>青空文庫外部で利用する場合、Shift_JISではなくUTF-8などを利用して外字の使用を避けることも可能です。ただし互換性が低下します。</li>
	<li>「ページ数-行数」は実際の出現場所に従って書き換えてください。</li>
</ul>

<h1>参考</h1>
<ul>
	<li>
		青空文庫
		<ul>
			<li><a href="https://www.aozora.gr.jp/gaiji_chuki/" target="_blank">青空文庫・外字注記辞書</a></li>
		</ul>
	</li>
	<li>
		aozorahack
		<ul>
			<li><a href="https://github.com/aozorahack/aozora2html/tree/master/vendor/jis2ucs" target="_blank">JIS2UCS</a> (aozora2html内)</li>
		</ul>
	</li>
	<li>
		藤原隆男 (京都市立芸術大学)
		<ul>
			<li><a href="https://web.archive.org/web/http://w3.kcua.ac.jp/~fujiwara/jis2000/jis2004/jisx0213-2004-mono.html" target="_blank">JIS X 0213:2004 vs Unicode mapping table</a> (アーカイブ)</li>
		</ul>

	</li>
	<li>
		kurema
		<ul>
			<li><a href="https://github.com/kurema/AozoraGaijiChukiXml" target="_blank">AozoraGaijiChukiXml - 非公式XML版</a></li>
		</ul>
		<ul>
			<li><a href="https://github.com/kurema/AozoraGaijiChukiXml" target="_blank">JISX0213Table - JIS X 0213バイナリ版</a> (aozora2htmlSharpに統合済み)</li>
		</ul>
	</li>
</ul>

@code {
	string _SearchText = string.Empty;
	string SearchText

	{
		get => _SearchText; set

		{
			_SearchText = value;
			Aozora.GaijiChuki.SearchQueries.Parser.Parse(value);
			InvokeSearch(value);
			StateHasChanged();
		}
	}
	bool SearchInfoVisible { get; set; } = false;
	bool SearchOptionVisible { get; set; } = false;

	SearchOptionTargets SearchOptionTarget { get; set; } = SearchOptionTargets.All;
	SearchOptionTargets SearchOptionTargetLast { get; set; } = SearchOptionTargets.All;

	string SearchMessage { get; set; } = string.Empty;

	void InvokeSearch(string text)
	{
		SearchMessage = "検索中";
		StateHasChanged();
		var q = Aozora.GaijiChuki.SearchQueries.Parser.Parse(text);
		SearchResults = Search.Helpers.ExecuteSearch(q, SearchOptionTarget).ToArray();
		SearchMessage = q?.ToString() ?? string.Empty;
	}

	[Flags]
	public enum SearchOptionTargets
	{
		All = Kanji | Radical | Note, Kanji = 1, Radical = 2, Note = 4,
	}

	void SelectSearchOptionTarget(SearchOptionTargets value)
	{
		bool isSingle = SearchOptionTarget == SearchOptionTargets.All || (SearchOptionTarget & (SearchOptionTarget - 1)) == 0;
		SearchOptionTargets result;
		if (isSingle)
		{
			if (SearchOptionTarget.HasFlag(value) && SearchOptionTarget != SearchOptionTargets.All)
			{

				result = SearchOptionTargetLast ^ value;
			}
			else
			{
				result = value;
			}
		}
		else
		{
			result = SearchOptionTarget ^ value;
		}
		SearchOptionTargetLast = SearchOptionTarget;
		SearchOptionTarget = result;
		StateHasChanged();
	}

	string GetSearchOptionTargetsTitle(SearchOptionTargets target) => target switch
	{
		SearchOptionTargets.All => "全て",
		SearchOptionTargets.Kanji => "漢字",
		SearchOptionTargets.Radical => "部首",
		SearchOptionTargets.Note => "注記",
		_ => "複合",
	};

	protected override async Task OnInitializedAsync()
	{
		await Task.Run(() => Aozora.GaijiChuki.Manager.GetContentOrLoad());
		await base.OnInitializedAsync();
	}

	IEnumerable<Models.IDictionaryResultGroup> SearchResults { get; set; } = new Models.IDictionaryResultGroup[0];

	void SelectPage(PageOther page)
	{
		if (page?.entries is null) return;
		SearchResults = new[] { new Models.DictionaryResultGroups.DictionaryResultGroupRadicalOther(page.entries.Select(a => new Models.DictionaryResultEntries.DictionaryResultEntryGaijiChukiOther(a, page)).ToArray(), page) };
		SearchMessage = string.Empty;
		StateHasChanged();
	}


	void SelectPage(page page)
	{
		if (page?.entries is null) return;
		SearchResults = new[] { new Models.DictionaryResultGroups.DictionaryResultGroupRadical(page.entries.Select(a => new Models.DictionaryResultEntries.DictionaryResultEntryGaijiChuki(a, page)).ToArray(), page) };
		SearchMessage = string.Empty;
		StateHasChanged();
	}

	void SelectStroke(int stroke)
	{
		if (Aozora.GaijiChuki.Manager.Toc.StrokeCharacters is null) return;
		if (!Aozora.GaijiChuki.Manager.Toc.StrokeCharacters.TryGetValue(stroke, out var memory)) return;
		SearchResults = new[] { new Models.DictionaryResultGroups.DictionaryResultGroupStrokes(memory.ToArray()
			.Where(a => !a.entry.duplicate)
			.Select(a => new Models.DictionaryResultEntries.DictionaryResultEntryGaijiChuki(a.entry, a.page)).ToArray(), stroke) };
		SearchMessage = string.Empty;
		StateHasChanged();
	}

	protected override void OnInitialized()
	{
		Search.Init.RegisterGaijiChukiJisx0213();
		base.OnInitialized();
	}

	RenderFragment GetEntryHtml(Models.IDictionaryResultEntry item)
	{
		switch (item)
		{
			case Models.DictionaryResultEntries.DictionaryResultEntryGaijiChuki itemGc:
				return GetEntryHtml(item,
	@<text>
		@switch (itemGc.Content.Item)
		{
			case entryCompatible78Inclusion i1:
				<div class="aozora_dictionary_result_detail_item_info_icon">
					78互換包摂：@(
					i1.@ref
						)
				</div>
				break;
			case entryDesignVariant i2:
				<div class="aozora_dictionary_result_detail_item_info_icon">
					デザイン差：@(
						i2.@ref
							)
				</div>
				break;
			case entryInclusionApplication i3:
				var t1 = i3.Item switch { string s => s, note n => n.full, _ => string.Empty };
				<div class="aozora_dictionary_result_detail_item_info_icon">包摂適用：@t1</div>
				break;
			case entryIntegrationApplication i4:
				var t2 = i4.Item switch { string s => s, note n => n.full, _ => string.Empty };
				<div class="aozora_dictionary_result_detail_item_info_icon">統合適用：@t2</div>
				break;
			case object:
				<div class="aozora_dictionary_result_detail_item_info_icon">入力可能</div>
				break;
		}
		@switch (itemGc.Content.supplement)
		{
			case entrySupplement.supplementCommon:
				<div class="aozora_dictionary_result_detail_item_info_icon">補助漢字と共通</div>
				break;
			case entrySupplement.supplementOnly:
				<div class="aozora_dictionary_result_detail_item_info_icon">補助のみ</div>
				break;
		}
		@foreach (var ucv in itemGc.Content.UCV ?? new entryUCV[0])
		{
			<div class="aozora_dictionary_result_detail_item_info_icon">
				UCV@(
					ucv.number
						)
			</div>
		}
	</text>
	,
	@<text>
		@if (itemGc.Content.duplicate)
		{
			<span title="本来の部首ではありません。索引用の参考です。">★</span>
		}
		@(Aozora.GaijiChuki.Manager.Tools.GetStrokesText(itemGc.Content, itemGc.Page))
	</text>
		);
			case DictionaryResultSingleChar itemRs:
				{
					var iccrs = itemRs.IllegalCharCheckResults.ToArray();
					return GetEntryHtml(item,
	@<text>
		<div class="aozora_dictionary_result_detail_item_info_icon">自動生成</div>
		@if (iccrs.All(a => a is not Aozora.Helpers.Utils.IllegalCharCheckResult.jis_gaiji and not Aozora.Helpers.Utils.IllegalCharCheckResult.non_jis))
		{
			<div class="aozora_dictionary_result_detail_item_info_icon">入力可能</div>
		}
		else
		{
			foreach (var iccr in iccrs.GroupBy(a => a).Select(a => a.First()))
			{
				switch (iccr)
				{
					case Aozora.Helpers.Utils.IllegalCharCheckResult.jis_gaiji:
						<div class="aozora_dictionary_result_detail_item_info_icon">JIS外字</div>
						break;
					case Aozora.Helpers.Utils.IllegalCharCheckResult.onebyte:
						<div class="aozora_dictionary_result_detail_item_info_icon">Ascii文字</div>
						break;
				}
			}
		}
	</text>, null);
				}
			default:
				return GetEntryHtml(item, null, null);
		}
	}


	RenderFragment GetEntryHtml(Models.IDictionaryResultEntry item, RenderFragment? noteAppendHtml, RenderFragment? strokeHtml)
	{
		return
	@<div class="aozora_dictionary_result_detail_item" id="@(item.Guid)">
		<div class="aozora_dictionary_result_detail_item_character">
			@{
				var categories = item.UnicodeCategory.GetEnumerator();
				categories.MoveNext();
				var chs = item.Characters.ToArray();
				chs = chs.Length == 0 ? new[] { "？" } : chs;
				foreach (var ch in chs)
				{
					if (categories.Current == System.Globalization.UnicodeCategory.PrivateUse)
					{
						<text>？</text>
					}
					else
					{
						<text>@ch</text>
					}
					categories.MoveNext();
				}
			}
		</div>
		<div class="aozora_dictionary_result_detail_item_info_container">
			<div class="aozora_dictionary_result_detail_item_info_note_container">
				@if (noteAppendHtml is not null)
				{
					@noteAppendHtml
				}
				@{
					var content = GetClipboardContent(item);

					<div class="aozora_dictionary_result_detail_item_info_note">
						@if (!string.IsNullOrWhiteSpace(item.Note))
						{
							<text>
								※［＃@(item.Note)］
							</text>
						}
						<button class="aozora_dictionary_result_detail_button" onclick="navigator.clipboard.writeText(this.getAttribute('aozora-note'))" aozora-note="@content">
							@(FullEditor.GetMaterialSymbolOutlined("content_copy"))
						</button>
						<button class="aozora_dictionary_result_detail_button" @onclick='async _=>{if(Editor is not null) await Editor.InsertText(content,"aozora-dictionary");}'>
							@(FullEditor.GetMaterialSymbolOutlined("content_paste"))
						</button>
						@{
							int page = -1;
							if (!(item is Models.DictionaryResultEntries.DictionaryResultEntryGaijiChuki gc && int.TryParse(gc.Content?.docPage, out page)))
							{
								if (!(item is Models.DictionaryResultEntries.DictionaryResultEntryGaijiChukiOther gco && int.TryParse(gco.Content?.docPage, out page))) page = -1;
							}
							Console.WriteLine((item as Models.DictionaryResultEntries.DictionaryResultEntryGaijiChuki)?.Content?.docPage);
							if (page >= 0)
							{
								<button class="aozora_dictionary_result_detail_button" @onclick='async _=>{await OpenPdfPage(page);}'>
									@(
								FullEditor.GetMaterialSymbolOutlined("open_in_new_down")
											)
								</button>
							}
						}
					</div>
				}
			</div>
			<div class="aozora_dictionary_result_detail_item_info_header_box">
				@if (item.Jisx0213Code != DictionaryResultEntryGaijiChuki.Jisx0213CodeEmpty && item.Characters.Count() < 2)
				{
					<p>
						<span class="aozora_dictionary_result_detail_item_info_header">JIS X 0213</span>
						@(Aozora.Helpers.YamlValues.Jisx0213NumberToFormated(item.Jisx0213Code))
					</p>
				}
				@{
					var sjis = DictionaryResultEntryGaijiChuki.GetShiftJIS(string.Join(string.Empty, item.Characters));
					if (item.Unicode.Any() || sjis.Any())
					{
						<p>
							@if (item.Unicode.Any())
							{
								<span class="aozora_dictionary_result_detail_item_info_header">Unicode</span>
								@(string.Join(' ', item.Unicode))
							}
							@if (sjis.Any())
							{
								<span class="aozora_dictionary_result_detail_item_info_header">Shift_JIS</span>
								@(string.Join(' ', sjis))

							}
						</p>
					}
				}
				@if (strokeHtml is not null)
				{
					<p>
						<span class="aozora_dictionary_result_detail_item_info_header">画数</span>
						@strokeHtml
					</p>
				}
			</div>
		</div>
	</div>
	;
	}

	public async Task OpenPdfPage(int page)
	{
		await OpenInNewTab($"_content/AozoraEditorSharedUI/documents/gaiji_chuki.pdf#page={page}");
	}

	public string GetClipboardContent(Models.IDictionaryResultEntry item)
	{
		var note = item.Note is null ? string.Empty : $"※［＃{item.Note}］";
		switch (item)
		{
			case DictionaryResultEntryGaijiChuki itemGc:
				{
					return itemGc.Content.Item switch
					{
						entryCompatible78Inclusion i1 => i1.@ref,
						entryDesignVariant i2 => i2.@ref,
						entryInclusionApplication i3 => i3.Item switch { string s => s, note n => $"※［＃{n.full}］", _ => string.Empty },
						entryIntegrationApplication i4 => i4.Item switch { string s => s, note n => $"※［＃{n.full}］", _ => string.Empty },
						object => string.Join(string.Empty, item.Characters),
						_ => note,
					};
				}
			case DictionaryResultSingleChar itemRs:
				return itemRs.IllegalCharCheckResults.ToArray().All(a => a is not Aozora.Helpers.Utils.IllegalCharCheckResult.jis_gaiji and not Aozora.Helpers.Utils.IllegalCharCheckResult.non_jis)
					? string.Join(string.Empty, item.Characters)
					: note;
			default: return note;
		}
	}

	[CascadingParameter(Name = nameof(Editor))]
	public EditorPage? Editor { get; private set; }

	public async Task OpenInNewTab(string url)
	{
		await jsRuntime.InvokeVoidAsync("open", url, "_blank");
	}
}
