<div class="bottom_panel_container">
	<div class="bottom_panel_tab_bar">
		<ul class="bottom_panel_tab_bar_container">
			@foreach (var item in tabEntries)
			{
				if (item == activeTab)
				{
					<li class="bottom_panel_tab_item bottom_panel_tab_item_selected">@item.Title</li>

				}
				else
				{
					<li class="bottom_panel_tab_item" @onclick="()=>{activeTab=item;}">@item.Title</li>
				}
			}
		</ul>
	</div>
	<div class="bottom_panel_tab_bar_right">
		@if (activeTab.Key == "output")
		{
			<label>
				<Microsoft.AspNetCore.Components.Forms.InputCheckbox @bind-Value="AutoOpen" />
				自動的に開く
			</label>
			<select @bind="selectedOutputFile">
				@foreach (var item in Messages)
				{
					<option value="@item.Key">@item.Value.title</option>
				}
			</select>
		}
		<button @onclick:preventDefault @onclick:stopPropagation="true" class="ButtonMini" @onclick="()=>{if(Root is not null)Root.OutputVisible=false;}">
			<span class="material-symbols-outlined">
				close
			</span>
		</button>
	</div>
	<div class="bottom_panel_tab_body">
		@switch (activeTab.Key)
		{
			case "output":
				var guid = selectedOutputFile;
				@*@((MarkupString)currentOutputMessageHtml)*@
				var text = currentOutputMessage.AsSpan();
				while (true)
				{
				case_top:
					int index1 = text.IndexOf('(');
					if (index1 < 0) goto case_break;
					var text2 = text.Slice(index1);
					int index2 = text2.IndexOf('行');
					if (index2 < 1) goto case_next;
					var text3 = text2.Slice(index2);
					if (!text3.StartsWith("行目)")) goto case_break;
					var text4 = text2.Slice(1, index2 - 1);
					if (!int.TryParse(text4, out int line)) goto case_next;
					var output = System.Web.HttpUtility.HtmlEncode(text.Slice(0, index1).ToString());
					var output2 = text.Slice(index1, index2 + 3);
					@output
					<a @onclick="()=>{SelectTabAndGoto(guid,new Position(){Column=1,LineNumber=line});}">@output2.ToString()</a>
					text = text.Slice(index1 + index2 + 3);
					continue;
				case_next:
					;
					@(text.Slice(0, index1 + 1).ToString())
					text = text.Slice(index1 + 1);
					goto case_top;
				case_break:
					;
					@(text.ToString())
					break;
				}
				@*@currentOutputMessage*@
				break;
			case "output_app":
				@currentAppMessage
				break;
		}
	</div>
</div>

@code {
	string currentOutputMessage => Messages.TryGetValue(selectedOutputFile, out var s) ? s.message : string.Empty;
	string currentAppMessage { get; set; } = string.Empty;

	Dictionary<Guid, (string title, string message)> Messages { get; } = new()
	{ {new Guid(), ("welcome","プレビュー作成の出力はここに表示されます。")} };

	public bool AutoOpen { get; set; } = true;

	System.Collections.ObjectModel.ObservableCollection<TabEntry> tabEntries { get; } = new()
	{
		new("出力","output"),
		new("アプリのメッセージ","output_app"),
	};

	TabEntry activeTab { get; set; }

	Guid selectedOutputFile { get; set; } = new Guid();

	//private void SelectedCarsChanged(ChangeEventArgs e)
	//{
	//	if (e.Value is string s && Messages.ContainsKey(s))
	//	{
	//		selectedOutputFile = s;
	//		StateHasChanged();
	//	}
	//}

	public void SetOutputMessage(string message, string title, Guid source)
	{
		Messages[source] = (title, message);
		selectedOutputFile = source;
		activeTab = tabEntries.FirstOrDefault(a => a.Key == "output") ?? activeTab;
		StateHasChanged();
	}

	public BottomPanel() : base()
	{
		activeTab = tabEntries[0];
	}

	public void AppendAppMessage(string message, string title)
	{
		const int maxLen = 10240;

		var span = currentAppMessage.AsSpan();
		if (currentAppMessage.Length + message.Length > maxLen)
		{
			int exceed = currentAppMessage.Length + message.Length - maxLen;

			while (true)
			{
				int index = span.LastIndexOf('\n');
				if (index < 0) break;
				span = span.Slice(0, index);
				if (span.Length + message.Length <= maxLen) break;
			}
			currentAppMessage = $"[{DateTime.Now.ToString()}] [{title}]\n{message}\n{span}\n";
		}
		else
		{
			currentAppMessage = $"[{DateTime.Now.ToString()}] [{title}]\n{message}\n{currentAppMessage}";
		}

		StateHasChanged();
	}

	record TabEntry(string Title, string Key) { }

	[CascadingParameter]
	public TabControl? Root { get; private set; }

	public void SelectTabAndGoto(Guid guid, Position position)
	{
		var result = Root?.SelectTabByGuid(guid);
		if (result is not TabPages.EditorTab et || et.Content is null) return;
		et.Content.SetPosition(position);
	}
}
