<div class="snippet_header">
	<p class="snippet_header_title">スニペット一覧</p>
	<div class="snippet_header_info @(ShowInfo?"snippet_header_info_on":"snippet_header_info_off")" @onclick="_=>{ShowInfo=!ShowInfo;StateHasChanged();}" title="@InfoText">@(TabControl.GetMaterialSymbolOutlined("info"))</div>
	<input @bind="SearchWord" placeholder="検索" />
</div>

@if (ShowInfo)
{
	<div class="snippet_info">
		@foreach (var item in InfoText.Split('\n', '\r'))
		{
			if (string.IsNullOrEmpty(item)) continue;
			<p>@item</p>
		}
	</div>
}


@if (Snippets.Loader.ContentIndex?.ContentsFlat is not null)
{
	foreach (var item in Snippets.Loader.ContentIndex.ContentsFlat.ToArray())
	{
		if (!string.IsNullOrWhiteSpace(SearchWord) && !item.Text.Any(a => a.Contains(SearchWord, StringComparison.InvariantCultureIgnoreCase)) &&
		!item.Labels.AllValues.Any(a => a.Text.Contains(SearchWord, StringComparison.InvariantCultureIgnoreCase))
		) continue;

		<div class="snippet">
			<div class="snippet_background" />
			<p class="snippet_text">@((MarkupString)ItemToHtmlText(item))</p>
			@if (item.DocumentLink is not null)
			{
				<a class="snippet_document_link" title="公式ドキュメント" target="_blank" href="@(item.DocumentLink)">@(TabControl.GetMaterialSymbolOutlined("link"))</a>
			}
			@if (item.Obsolete == true)
			{
				<p class="snippet_obsolete" title="この要素は現在使われていません。">@(TabControl.GetMaterialSymbolOutlined("warning"))</p>
			}
			<div class="snippet_labels">
				<table>
					@ListToTableHtml(item.Labels.JpFullyRoman,new List<string>(), "全文")
					@ListToTableHtml(item.Labels.Jp,item.Labels.ShortJp, "日本語")
					@ListToTableHtml(item.Labels.En,item.Labels.ShortEn, "英語")
				</table>
			</div>
		</div>
	}
}

<style>
	.snippet_header {
		display: grid;
		grid-template-columns: 1fr auto auto;
		border-bottom: 1px solid #ddd;
		background: #f5f5f5;
	}

		.snippet_header .snippet_header_title {
			grid-column: 1/2;
			font-weight: bold;
		}

		.snippet_header > .snippet_header_info {
			grid-column: 2/3;
			margin: 10px;
			background: white;
			border: 1px solid #ddd;
			padding: 5px;
		}

		.snippet_header > input {
			grid-column: 3/4;
			border: 0px solid transparent;
			border-left: 1px solid #ddd;
		}

			.snippet_header > input.snippet_header_info_on {
				background: #f5f5f5;
			}

	.snippet_info {
		margin: 20px;
		padding: 10px;
		border: 1px solid #ddd;
	}

	.snippet {
		display: grid;
		grid-template-columns: 1fr auto auto;
		grid-template-rows: auto auto auto;
		align-items: center;
		margin: 20px;
		box-shadow: #8888 0 2px 10px;
		border: 1px solid #ddd;
	}

		.snippet > .snippet_background {
			grid-row: 1/2;
			grid-column: 1/4;
			height: 100%;
			background: #f5f5f5;
			width: 100%;
		}

		.snippet > .snippet_text {
			grid-row: 1/2;
			grid-column: 1/2;
			margin-left: 10px;
		}

			.snippet > .snippet_text .snippet_arg {
				text-decoration: underline;
			}

		.snippet > .snippet_document_link {
			color: black;
			text-decoration: none;
			grid-row: 1/2;
			grid-column: 3/4;
			margin: 10px;
			background: white;
			border: 1px solid #ddd;
			padding: 5px;
		}

		.snippet > .snippet_obsolete {
			grid-row: 1/2;
			grid-column: 2/3;
			margin: 10px;
			background: white;
			border: 1px solid #ddd;
			padding: 5px;
		}

		.snippet > .snippet_labels {
			grid-row: 2/3;
			grid-column: 1/4;
			overflow: scroll;
		}

			.snippet > .snippet_labels > table {
				width: 100%;
			}

				.snippet > .snippet_labels > table tr {
					width: 100%;
				}

				.snippet > .snippet_labels > table th {
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}

				.snippet > .snippet_labels > table td {
				}

</style>

@code {
	string SearchWord { get; set; } = string.Empty;
	bool ShowInfo { get; set; } = false;

	const string InfoText = """"
一部のコマンドはプレビューやエクスポートに非対応です。
スニペットを挿入する際は半角モードにしてスペース後にキーワードを入力してください。
キーワードは、コマンド全文、および日本語語句(太字部分)・英語語句とその略称いずれにも対応しています。
"""";

	protected override async Task OnInitializedAsync()
	{
		await Snippets.Loader.LoadFromResouceAsync();
		await base.OnInitializedAsync();
	}

	string ItemToHtmlText(Snippets.Schema.Content content)
	{
		var text = string.Join("<br />", content.Text.Select(a => System.Net.WebUtility.HtmlEncode(a)));
		return Snippets.Index.InterpolateFinal(text, n => $"<span class=\"snippet_arg\">{Snippets.Index.ArgTypeToNormalText(content.ArgTypes[n])}</span>", "<b>", "</b>");
	}

	RenderFragment ListToTableHtml(IList<string> strings, IList<string> strings2, string title)
	{
		static string join(IList<string> s) => string.Join(" / ", s);

		const int w1 = 15;
		const int w2 = 35;

		if (strings.Count == 0 && strings2.Count == 0) return new RenderFragment(_ => { });
		if (strings.Count == 0)
		{
			return @<tr><th style="width: @(w1)%;"></th><td style="width: @(w2)%;"></td><th style="width: @(w1)%;">@(title)省略</th><td style="width: @(w2)%;">@join(strings2)</td></tr>;
		}
		if (strings2.Count == 0)
		{
			return @<tr><th style="width: @(w1)%;">@title</th><td style="width: @(w1+w2*2)%;" colspan="3">@join(strings)</td></tr>;
		}
		return @<tr><th style="width: @(w1)%;">@title</th><td style="width: @(w2)%;">@join(strings)</td><th style="width: @(w1)%;">@(title)省略</th><td style="width: @(w2)%;">@join(strings2)</td></tr>;
	}
}
